[class|="form"]{
    background-color: #d4f0a8;
    position: absolute;
    left: calc(50% - 100px);
    z-index: 1000;
    border: 2px solid #578f00; 
  }
  .form-auth{
    top: calc(15%);
    width: 200px;
  }
  .form-reg{
    top: calc(15%);
    width: 300px;
  }
  
  [class|="form"]>form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  [class|="form"]>form>*{
    width: 100%;
    margin: 5px 5px;
  }